body {
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col {
  border: 1px solid black;
  flex: 1;
  background: rgb(138, 255, 162);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lock {
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.fa-lock {
  font-size: 18px;
}

.text {
  color: white;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.3);
  padding: 4px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
